body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, Roboto sans-serif;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.languages {
  display: flex;
  justify-content: center;
}

.languages li {
  font-weight: bold;
  cursor: pointer;
  margin: 10px;
}

.popular-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around
}

.popular-item {
  margin: 20px;
  text-align: center;
}

.space-list-items {
  margin-bottom: 7px;
}

.popular-rank {
  margin: 10px;
  font-size: 20px;
}

.avatar {
  width: 150px;
  border-radius: 50%;
}